<footer id="footer" class="not_initial_screen">
	<div class="grid">
		<div class="row">
			<div class="col-t-100 col-d-33">
				<div class="title">Folgen Sie uns</div>
					<div class="social-media">
					<a target="_blank" href="https://www.facebook.com/schwaebische.de/"><span class="icon-facebook-squared"></span></a><a target="_blank" href="https://twitter.com/schwaebische"><span class="icon-twitter-squared"></span></a></div>
						<div class="copyright">
						<img src="https://www.schwaebische.de/pu_schwaebische/images/schwaebische.png" class="logo" width=190 height=26 alt=Schwäbische srcset="https://www.schwaebische.de/pu_schwaebische/images/schwaebische.png 1x, https://www.schwaebische.de/pu_schwaebische/images/schwaebische-2x.png 2x"> &copy; Schwäbischer Verlag 2018</div>
			</div>
				<div class="clearfix visible-tablet"></div>
					<div class="col-t-50 col-d-33">
						<div class="title">Abo<span class="subscribers-emblem"></span></div>
					<ul class="link-list"><li><a href="https://abo.schwaebische.de/detail_angebot,Schwäbische+Basic_shop,Digital.html">Schwäbische Basic</a></li><li><a href="https://abo.schwaebische.de/detail_angebot,Schwäbische+Premium_shop,Digital.html">Schwäbische Premium</a></li><li><a href="https://abo.schwaebische.de/angebote_shop,Print.html">Schwäbische Zeitung</a></li></ul>
					</div>
						<div class="col-t-50 col-d-33">
							<div class="title">Kundenservice</div>
						<ul class="link-list"><li><a href="https://www.schwaebische.de/kontakt.html">Kontakt</a></li><li><a href="https://www.schwaebische.de/hilfe.html">Hilfe</a></li><li><a href="https://www.schwaebische.de/impressum.html">Impressum</a></li><li><a href="https://www.schwaebische.de/agb.html">AGB</a></li><li><a href="https://www.schwaebische.de/datenschutz.html">Datenschutz</a></li></ul>
						</div>
		</div>
	</div>
</footer>